<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>358139281828-dbj4jig7mqgfdu7emolcmf5g8dc2vrfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358139281828-dbj4jig7mqgfdu7emolcmf5g8dc2vrfh</string>
	<key>API_KEY</key>
	<string>AIzaSyCJcEmuHschqe1Vzx9BlD8wWD3jhKi7StY</string>
	<key>GCM_SENDER_ID</key>
	<string>358139281828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FindYourFlock.FindYourFlock</string>
	<key>PROJECT_ID</key>
	<string>flock-43b66</string>
	<key>STORAGE_BUCKET</key>
	<string>flock-43b66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:358139281828:ios:1aa5341cf9cc30e3</string>
	<key>DATABASE_URL</key>
	<string>https://flock-43b66.firebaseio.com</string>
</dict>
</plist>